version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: hairsalon_web
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: hairsalon_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: hairsalon_db
      MYSQL_USER: hairsalon
      MYSQL_PASSWORD: hairsalon
    volumes:
      - ./db:/docker-entrypoint-initdb.d
